@media (max-width: 1259px) {
    .slid1 {
        height: 275px;
    }
    
    .slid2 {
        height: 275px;
    }
    
    .slid3 {
        height: 275px;
    }
    
    .slid4 {
        height: 275px;
    }
    
    .slid5 {
        height: 275px;
    }
    
    .slid6 {
        height: 275px;
    }
    
    .slid7 {
        height: 275px;
    }
    
    .slid8 {
        height: 275px;
    }
}

@media (max-width: 1065px) {
    .slid1 {
        height: 230px;
    }
    
    .slid2 {
        height: 230px;
    }
    
    .slid3 {
        height: 230px;
    }
    
    .slid4 {
        height: 230px;
    }
    
    .slid5 {
        height: 230px;
    }
    
    .slid6 {
        height: 230px;
    }
    
    .slid7 {
        height: 230px;
    }
    
    .slid8 {
        height: 230px;
    }
}

@media (max-width: 990px) {
    .swiper-button-prev img {
        display: none;
    }

    .swiper-button-next img {
        display: none;
    }
}

@media (max-width: 830px) {
    .baground__yellow {
        height: 142px;
    }
    .yellow__flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .yellow__p {
        padding-right: 0px;
    }
}

@media (max-width: 595px) {
    .slid1 {
        height: 325px;
    }
    
    .slid2 {
        height: 325px;
    }
    
    .slid3 {
        height: 325px;
    }
    
    .slid4 {
        height: 325px;
    }
    
    .slid5 {
        height: 325px;
    }
    
    .slid6 {
        height: 325px;
    }
    
    .slid7 {
        height: 325px;
    }
    
    .slid8 {
        height: 325px;
    }

    .swiper-p {
        font-size: 12px;
    }
}

@media (max-width: 535px) {
    .yellow__p {
        letter-spacing: 1.99px;
    }
}

@media (max-width: 480px) {
    .baground__yellow {
        height: 226px;
    }

    .yellow__button {
        margin-top: 7%;
    }
}

@media (max-width: 445px) {
    .slid1 {
        height: 234px;
    }
    
    .slid2 {
        height: 234px;
    }
    
    .slid3 {
        height: 234px;
    }
    
    .slid4 {
        height: 234px;
    }
    
    .slid5 {
        height: 234px;
    }
    
    .slid6 {
        height: 234px;
    }
    
    .slid7 {
        height: 234px;
    }
    
    .slid8 {
        height: 234px;
    }
}