
@media (max-width: 1080px) {

    .section__container {
        padding: 0px 0px 0px 15px;
    }

    .photo1 {
        height: 500px;
    }

    .photo2 {
        height: 500px;
    }

    .photo3 {
        height: 500px;
    }

    .photo4 {
        height: 500px;
    }
}

@media (max-width: 600px) {

    
    .photo1 {
        height: 400px;
    }

    .photo2 {
        height: 400px;
    }

    .photo3 {
        height: 400px;
    }

    .photo4 {
        height: 400px;
    }
}

@media (max-width: 350px) {
    .photo1 {
        height: 350px;
    }

    .photo2 {
        height: 350px;
    }

    .photo3 {
        height: 350px;
    }

    .photo4 {
        height: 350px;
    }

    .card__h2 {
        padding-bottom: 4px;
    }

    .card__p {
        padding-bottom: 6px;
    }
}